.button {
  background-color: var(--blueLight);
  border-radius: var(--radiusItem);
  border: none;
  height: 30px;
  padding: 2px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--blueHover);
}