.Sizes {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}

.sizeItem:not(:last-child) {
  margin-right: 10px;
}

.sizeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  border: 2px solid var(--greyLight);
  border-radius: var(--radiusItem);
  background-color: var(--white);
  cursor: default;
  padding: 2px;
}

.sizeNotActive {
  border: 2px solid var(--grey);
  background-color: var(--greyLight);
}

.sizeText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: var(--subText);
  color: var(--black);
}