.productsList {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  cursor: pointer;
  margin: 0 20px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.img {
  width: 150px;
  height: 200px;
}

.link:hover,
.link:focus {
  text-decoration: revert;
}

.link:hover .name,
.link:focus .name {
  color: var(--blue);
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 0px;
  color: var(--grey);
}

.descriptionName {
  color: var(--black);
}

.btnRemove {
  margin-top: 5px;
}